.wrapper {
    margin-top: 16px;
    padding: 16px;
    border-radius: 20px;
    background: white;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.875rem;
    position: relative;
}

.row:first-child {
    margin-bottom: 8px;
}

.row:first-child > .description {
    flex-basis: 45%;
}

.description {
    display: flex;
    align-items: center;
    color: var(--pale-purple);
    align-self: start;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 55%;
}

.info {
    position: relative;
}

.info > svg {
    color: var(--pale-purple);
    margin-left: 4px;
}

.info:hover > svg {
    opacity: 0.7;
}

.tooltip {
    position: absolute;
    background: rgb(39, 38, 44);
    color: #eeeaf4;
    border-radius: 16px;
    padding: 8px;
    bottom: 24px;
    width: 200px;
    left: -7px;
}

.tooltip::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 15px;
    width: 10px;
    height: 5px;
    border-top: solid 5px rgb(39, 38, 44);
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}
